<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>About Us</title>
</head>

<body class="flex items-center justify-center h-screen m-auto mb-12 bg-fixed bg-center bg-cover custom-img">
    <div id="container">
    </div>
    <section>
        <div class="p-5 width-50  text-xl text-white bg-gray-300 bg-opacity-50 rounded-xl">
            <center><h2 class="text-5xl pb-2">About Us</h2></center>
            <p>
                <li>This project was built by Balaji.</li><br>
                <li>We have developed this project under Take It Easy Engineers(TIE) for COMPSOFT Technologies.</li><br>
                <li>We were optimistic for a future where people can create a resume with no difficultires, in an easy way and with no much delay time.</li><br>
                <li>We see the world where technology enhances human potential and progress that everyone can benefit form it.</li><br>
            </p>
        </div>
    </section>
</body>
</html>