<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Contact Us</title>
</head>
<span class=" width-50 ">
<body class="flex items-center justify-center h-screen m-auto mb-12 bg-fixed bg-center bg-cover custom-img">
    <div id="container">
    </div>
    <section>
        <div class="p-5 text-xl text-white bg-gray-300 bg-opacity-50 width-50 rounded-xl">
            <center><h2 class="text-5xl pb-2">Contact Us</h2></center>
            <p>
                Balaji V<br>
                email- balaji13042001@gmail.com<br>
                Linkedin- balaji v<br>
           </p>
        </div>
    </section>
</body>
</span>
</html>